rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // This allows any logged-in user to read and write to all collections (including 'stores')
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
    
  }
}
